<div class="ui container pxl-block">
    <div class="ui middle aligned center aligned grid pxl-login-dialog">
        <div class="column">
            <h2 class="ui header">
                <div class="content">
                    Åtkomst nekad
                </div>
            </h2>
            <div class="ui padded segment">
                <p>Du har inte rättigheter att använda den här resursen.</p>
            </div>
        </div>
    </div>
</div>