@using Pixel.Kidsparties.Web.Models.AccountViewModels
@model ExternalLoginConfirmationViewModel

<div class="ui container pxl-block">
    <div class="ui middle aligned center aligned grid pxl-login-dialog">
        <div class="column">
            <h2 class="ui header">
                <div class="content">
                    Skapa nytt konto
                </div>
            </h2>
            @{
                <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui large form">
                    <div class="ui padded segment">
                        <p>Perfekt, du har nu autentiserat dig med @ViewData["LoginProvider"]!</p>
                        <p>Vill du använda en annan e-postadress hos oss så är det bara att ändra nedan, sedan klickar du på Skapa nytt konto.</p>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input asp-for="Email" />
                            </div>
                        </div>
                        <div class="ui large primary submit button">Skapa nytt konto</div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
