@import "../modules/_variables";

.footer {
    border-top: solid 1px $lightGrey !important;
}

.footer.segment {
    padding: 2em 0em;
}

.ui.vertical.segment + .footer {
    border-top: none !important;
}

@media only screen and (max-width: $largestMobileScreen) {
    .footer.segment {
        padding: 1rem 0em;
    }
}
