@import "../modules/_variables";

.pxl-hero.segment {
    padding: 1em 0;
    background: #B993D6 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pxl-hero .ui.huge.header {
    margin-top: 2em !important;
    margin-bottom: 0em !important;
    font-size: 4rem !important;
    font-weight: normal !important;
}

.pxl-hero .ui.large.header {
    font-size: 1.5rem !important;
    font-weight: normal !important;
}

.pxl-hero .pxl-first-page-hero-city-chooser {
    font-size: 1.2rem;
    margin-top: 2em;
    margin-bottom: 8em;
}

@media only screen and (max-width: $largestMobileScreen) {
    .pxl-hero.segment {
        padding: 0.5em 0;
    }

    .pxl-hero .ui.huge.header {
        margin-top: 1em !important;
        font-size: 2em !important;
    }

    .pxl-hero .ui.large.header {
        font-size: 1.2rem !important;
    }

    .pxl-hero .pxl-first-page-hero-city-chooser {
        font-size: 1rem;
        margin-top: 1em;
        margin-bottom: 4em;
    }
}
