<div class="ui container pxl-block">
    <div class="ui middle aligned center aligned grid pxl-login-dialog">
        <div class="column">
            <h2 class="ui header">
                <div class="content">
                    Inloggningen misslyckades
                </div>
            </h2>
            <div class="ui padded segment">
                <p>Det gick inte att logga in med den här tjänsten.</p>
            </div>
        </div>
    </div>
</div>