<div class="ui main container pxl-public-page">
    <div class="ui stackable grid container">
        <div class="eight wide column">
            <div class="ui raised segment">
                <a class="ui purple ribbon label">Kommer snart</a>
                <h1 class="ui huge header">O.S.A.</h1>
                <p>Inom kort kommer vi att kunna hjälpa dig att hålla reda på alla svar om vilka som kommer och vilka som inte kommer till barnkalaset, inget mer bläddrande i inkorgen bland en massa meddelande eller e-post.</p>
                <p>Dina gäster får en enkel länk på inbjudningskortet där de snabbt kan svara om de har möjlighet att komma eller inte.</p>
                <p>De kan även passa på att lämna kontaktinformation såsom telefonnummer eller e-postadress, vilket senare gör det enkelt om du behöver nå ut med information.</p>
                <p>@Html.ActionLink("Tillbaka till förstasidan", "Index", "Home")</p>
            </div>
        </div>
        <div class="four wide center aligned middle aligned column">
            <i class="massive checked calendar icon"></i>
        </div>
    </div>
</div>
