<div class="ui main container pxl-page">
    <div class="ui stackable grid container">
        <div class="six wide column">
            <h1 class="ui huge header">Hoppsan, sidan du letade efter finns inte.</h1>
            <h3 class="ui header medium">Vad kan ha hänt?</h3>
            <ul class="ui list">
                <li>
                    Vi kan ha tagit bort sidan när vi arbetat om sajten.
                </li>
                <li>
                    Eller så är kanske länken du klickade på gammal eller inaktuell.
                </li>
                <li>
                    Eller så kanske du har råkat skriva in fel URL i adressfältet.
                </li>
            </ul>
            <h3 class="ui header medium">Vad kan du göra nu?</h3>
            <ul class="ui list">
                <li>
                    Du kan testa att skriva in URL:n på nytt i adressfältet.
                </li>
                <li>
                    Eller så kan du klicka @Html.ActionLink("här", "Index", "Home") så kommer du tillbaka till startsidan.
                </li>
            </ul>
        </div>
        <div class="six wide center aligned middle aligned column">
            <i class="massive thin circular hand spock icon"></i>
        </div>
    </div>
</div>
