@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.inspiration-app {
   &__image {
      object-fit: cover;
      height: 100px;
   }

   &__category-city {
      font-size: (10 / 16) * $font-size-base;
   }

   &__name {
      max-height: $line-height-base * $font-size-base * 2;
   }
}
