@model Pixel.FixaBarnkalaset.Web.Areas.Admin.ViewModels.CreateOrEditCityViewModel

@section Header
{
    <style>
        #map {
            height: 350px;
        }
    </style>
}

<div class="ui main container text pxl-admin-page pxl-admin-page--cities-create">

    <h1>Lägg till ny stad</h1>

    <form class="ui form" asp-action="Create">

        @Html.Partial("_CreateOrEdit", Model)

        <button class="ui secondary button" type="submit">Spara</button>
    </form>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLKgpfR9yUKR-Fwwb7yBGDoFVgRzFIxZ4&libraries=places"></script>
}
