@using System.Globalization
@model Pixel.FixaBarnkalaset.Web.Areas.Admin.ViewModels.CreateOrEditCityViewModel

@section Header
{
    <style>
        #map {
            height: 350px;
        }
    </style>
}

<div class="ui main container text">

    <h1>Ändra stad</h1>

    <form class="ui form" asp-action="Edit">

        @Html.Partial("_CreateOrEdit", Model)

        <button class="ui secondary button" type="submit">Spara</button>
    </form>
</div>

@section Scripts {
    <script>
        var page = new EditCityPage();
        page.initPage(@Model.Latitude.ToString(CultureInfo.InvariantCulture), @Model.Longitude.ToString(CultureInfo.InvariantCulture));
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLKgpfR9yUKR-Fwwb7yBGDoFVgRzFIxZ4&libraries=places&callback=page.initMap"></script>
}
