@model Pixel.Kidsparties.Web.Areas.Admin.ViewModels.CreateOrEditArrangementViewModel

<input type="hidden" asp-for="Id" />

<h3 class="ui top attached header">
    Allmänt
</h3>
<div class="ui bottom attached segment">
    <div class="field">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name">
    </div>
    <div class="field">
        <button class="ui basic button" type="button" id="btnGetInformationFromGooglePlaces">Hämta info från Google Places</button>
        <span id="GooglePlacesName"></span>
    </div>
    <div class="field">
        <label asp-for="Slug"></label>
        <input type="text" asp-for="Slug">
    </div>
    <div class="field">
        <label asp-for="CitySlug"></label>
        <select asp-for="CitySlug" asp-items="Model.Cities"></select>
    </div>
    <div class="field">
        <label asp-for="CoverImage"></label>
        <input type="text" asp-for="CoverImage">
    </div>
</div>

<h3 class="ui top attached header">
    Beskrivning
</h3>
<div class="ui bottom attached segment">
    <div class="field">
        <label asp-for="Pitch"></label>
        <textarea rows="2" asp-for="Pitch"></textarea>
    </div>
    <div class="field">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>
</div>

<h3 class="ui top attached header">
    Adress och kontaktuppgifter
</h3>
<div class="ui bottom attached segment">
    <div class="field">
        <label asp-for="StreetAddress"></label>
        <input type="text" asp-for="StreetAddress">
    </div>
    <div class="fields">
        <div class="four wide field">
            <label asp-for="PostalCode"></label>
            <input type="text" asp-for="PostalCode">
        </div>
        <div class="twelve wide field">
            <label asp-for="PostalCity"></label>
            <input type="text" asp-for="PostalCity">
        </div>
    </div>
    <div class="field">
        <label asp-for="PhoneNumber"></label>
        <input type="text" asp-for="PhoneNumber">
    </div>
    <div class="field">
        <label asp-for="EmailAddress"></label>
        <input type="text" asp-for="EmailAddress">
    </div>
    <div class="field">
        <label asp-for="Website"></label>
        <input type="text" asp-for="Website">
    </div>
    <div class="field">
        <button class="ui basic button" type="button" id="btnOpenWebsite">Öppna hemsida</button>
    </div>
</div>

<h3 class="ui top attached header">
    Karta
</h3>
<div class="ui bottom attached segment">
    <div class="ui grid">
        <div class="six wide column">
            <div class="field">
                <label asp-for="Latitude"></label>
                <input type="text" asp-for="Latitude">
            </div>
            <div class="field">
                <label asp-for="Longitude"></label>
                <input type="text" asp-for="Longitude">
            </div>
            <button class="ui basic button" type="button" id="btnGetCoordinatesFromAddress">Hämta från adress</button>
        </div>
        <div class="ten wide column">
            <div id="map"></div>
        </div>
    </div>
</div>
