@model Pixel.Kidsparties.Core.Arrangement

@section Header
{
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
}

<div class="ui main container text">

    <h1>Skapa arrangemang</h1>

    <form class="ui form" asp-action="Create">

        @Html.Partial("_CreateOrEdit", Model)

        <button class="ui button" type="submit">Spara</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/utilities/slugify.js"></script>
    <script>
        $("select.dropdown").dropdown();
        CKEDITOR.replace("Description");

        $("#Name").change(function() {
            $("#Slug").val(slugify($(this).val()));
        });
    </script>
}
