@model Pixel.FixaBarnkalaset.Web.Areas.Admin.ViewModels.CreateOrEditArrangementViewModel

@section Header
{
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <style>
        #map {
            height: 350px;
        }
    </style>
}

<div class="ui main container text pxl-admin-page pxl-arrangements-create-page mb-5">

    <h1 class="mb-3">Lägg till nytt arrangemang</h1>

    <form asp-action="Create">

        <partial name="_CreateOrEdit" model="Model" />

        <button class="btn btn-secondary" type="submit">Spara</button>
    </form>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLKgpfR9yUKR-Fwwb7yBGDoFVgRzFIxZ4&libraries=places"></script>
}
