@model Pixel.Kidsparties.Core.Arrangement

@section Header
{
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
}

<div class="ui main container text">

    <h1>Ändra arrangemang</h1>

    <form class="ui form" asp-action="Edit">

        @Html.Partial("_CreateOrEdit", Model)

        <button class="ui secondary button" type="submit">Spara</button>
    </form>
</div>

@section Scripts {
    <script>
        $('select.dropdown').dropdown();
        CKEDITOR.replace('Description');
    </script>
}
