<div class="ui main container pxl-public-page">
    <h1 class="ui header">Cookies</h1>
    <h2 class="ui medium header">Kakor på fixabarnkalaset.se</h2>

    <h3 class="ui header">Samtycke till kakor</h3>
    <p>Enligt lagen om elektronisk kommunikation ska alla som besöker en webbplats få information om webbplatsens användande av kakor (ofta kallat ”cookies”) och vad kakorna används till. Besökarens samtycke krävs om inte kakorna är nödvändiga för att tillhandahålla den tjänst som besökaren uttryckligen har begärt. Du ger ditt samtycke genom att själv acceptera användandet av kakor i din webbläsares säkerhetsinställningar.</p>

    <h3 class="ui header">Vad är en kaka?</h3>
    <p>En kaka är en textfil med information som används för att känna igen dig under kortare eller längre tid. Filen lagras på din dator och kan inte ställa till med någon skada. Det finns två olika typer av kakor, sessionskakor och fasta kakor. På fixabarnkalaset.se använder vi oss av båda typer av kakor.</p>

    <h3 class="ui header">Sessionskakor</h3>
    <p>På fixabarnkalaset.se använder vi sessionskakor för att vi ska kunna hålla isär olika användare eller för att kontrollera att du är inloggad. Sessionskakan innehåller användarens identitet och lagras tillfälligt i datorns minne under tiden du är uppkopplad mot fixabarnkalaset.se. När du loggar ut eller stänger ner din webbläsare försvinner den.</p>

    <h3 class="ui header">Fasta kakor</h3>
    <p>En fast kaka är en fil som sparas under längre tid och som gör att fixabarnkalaset.se kan känna igen dig vid ett återbesök. Nästa gång du besöker oss hittar fixabarnkalaset.se kakan och känner igen dig och de val du har gjort vid ett tidigare besök. Kakan kan även användas för att anpassa till exempel annonserbjudanden. En fast kaka stannar på din dator fram till det datum då kakan anses vara förbrukad, vilket kan variera beroende på vilket syfte kakan har.</p>

    <h3 class="ui header">Kakor för besöksstatistik</h3>
    <p>Vi jobbar hela tiden med att utveckla och göra webbplatsen bättre. För att vara framgångsrika i detta arbete analyserar vi den trafik som sker på fixabarnkalaset.se. Analysen sker med hjälp av ett statistikverktyg från en tredjepartsleverantör som använder sig av fasta kakor (så kallade ”tredjepartskakor”). Dessa kakor sparar ingen privat information om dig och är endast till för att göra vår besöksstatistik mer tillförlitlig.</p>

    <h3 class="ui header">Stänga av kakor</h3>
    <p>Om du inte samtycker till att kakor används kan du själv stänga av kakor i din webbläsares säkerhetsinställningar. Om du väljer att stänga av kakor kommer vissa delar av fixabarnkalaset.se inte att fungera korrekt.</p>

    <p>@Html.ActionLink("Tillbaka till förstasidan", "Index", "Home")</p>
</div>
