@using Microsoft.AspNetCore.Identity
@using Pixel.FixaBarnkalaset.Infrastructure.Identity
@using Pixel.FixaBarnkalaset.Web.Models
@model HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager

@section Hero 
{
    <div class="ui text container">
    <h1 class="ui inverted huge header">
        Hitta det perfekta barnkalaset
    </h1>
    <h3 class="ui inverted large header">Vi har samlat en massa bra ställen som hjälper dig att fixa det perfekta barnkalaset.</h3>
    <select id="citySelector" class="dropdown pxl-first-page-hero-city-chooser">
        <option value="">Välj stad...</option>
        @foreach (var city in Model.Cities)
        {
            <option value="@Url.Action("Index", "Arrangements", new { citySlug = city.Slug })">@city.Name</option>
        }
    </select>
</div>
}

<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <div class="pxl-text-container">
                    <h3 class="ui large header">Inte tid att skicka inbjudningskort?</h3>
                    <p>Om du inte riktigt känner att du har tid att köpa inbjudningskort, skriva adresser, klistra frimärken och lägga inbjudningskorten på posten så har vi den perfekta lösningen för dig.</p>
                </div>
            </div>
            <div class="column">
                <div class="pxl-text-container">
                    <h3 class="ui large header">Håll reda på vilka som kommer</h3>
                    <p>Vi gör det superenkelt för dig att hålla reda på vilka som kommer till kalaset, inget mer bläddrande i inkorgen bland en massa andra meddelande eller e-post.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('select.dropdown').dropdown();
        $('select#citySelector').change(function () {
            if ($(this).val() !== "") {
                window.location = $(this).val();
            }
        });
    </script>
}
