@using Microsoft.AspNetCore.Identity
@using Pixel.FixaBarnkalaset.Infrastructure.Identity
@using Pixel.FixaBarnkalaset.Web.Models
@model HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager

@section Hero 
{
    <div class="ui text container">
    <h1 class="ui inverted header">
        Hitta det perfekta barnkalaset
    </h1>
    <h2>Vi har samlat en massa bra ställen som hjälper dig att fixa det perfekta barnkalaset.</h2>
    @*<div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>*@
    <select id="citySelector" class="dropdown pxl-first-page-hero-city-chooser">
        <option value="">Välj stad...</option>
        @foreach (var city in Model.Cities)
        {
            <option value="@Url.Action("Index", "Arrangements", new { citySlug = city.Slug })">@city.Name</option>
        }
    </select>
</div>
}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">We Help Companies and Companions</h3>
                <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                <h3 class="ui header">We Make Bananas That Can Dance</h3>
                <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
            </div>
            <div class="six wide right floated column">
                <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button">Check Them Out</a>
            </div>
        </div>
    </div>
</div>


<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3>Inte tid att skicka inbjudningskort?</h3>
                <p>Om du inte riktigt känner att du har tid att köpa inbjudningskort, skriva adresser, klistra frimärken och lägga inbjudningskorten på posten så har vi den perfekta lösningen för dig.</p>
            </div>
            <div class="column">
                <h3>Håll reda på vilka som kommer</h3>
                <p>Vi gör det superenkelt för dig att hålla reda på vilka som kommer till kalaset, inget mer bläddrande i inkorgen bland en massa andra meddelande eller e-post.</p>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
        <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
        <a class="ui large button">Read More</a>
        <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
        </h4>
        <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
        <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
        <a class="ui large button">I'm Still Quite Interested</a>
    </div>
</div>

@*<div class="ui two column very relaxed grid container">
    <div class="row">
        <div class="column pxl-block">
            <h2>Inte tid att skicka inbjudningskort?</h2>
            <p>Om du inte riktigt känner att du har tid att köpa inbjudningskort, skriva adresser, klistra frimärken och lägga inbjudningskorten på posten så har vi den perfekta lösningen för dig.</p>
            <p>Allt du behöver göra är följande:</p>
            <ol class="ui list">
                <li>Fyll i tid och plats och skriv en kort hälsning.</li>
                <li>Välj en mall för inbjudningskorten.</li>
                <li>Fotografera en klasslista eller liknande och justera lite om det behövs.</li>
            </ol>
            <p>Vi gör sedan resten, det vill säga ser till att inbjudningskorten trycks i ett professionellt tryckeri och skickas till dina gäster.</p>
        </div>
        <div class="column pxl-block">
            <h2>Håll reda på vilka som kommer</h2>
            <p>Vi gör det superenkelt för dig att hålla reda på vilka som kommer till kalaset, inget mer bläddrande i inkorgen bland en massa andra meddelande eller e-post.</p>
            <p>Vi genererar en smidig kod som är unik för varje gäst som du kan skicka med på inbjudningskorten. Gästen kan sedan enkelt gå in på vår hemsida och svara om de kommer eller inte.</p>
            <p>Psst. Vi kan även skicka en vänlig påminnelse till de som glömt svara, så slipper du verka tjatig. :)</p>
        </div>
    </div>
</div>*@

@section Scripts
{
    <script>
        $('select.dropdown').dropdown();
        $('select#citySelector').change(function () {
            if ($(this).val() !== "") {
                window.location = $(this).val();
            }
        });
    </script>
}
