@using Microsoft.AspNetCore.Identity
@using Pixel.FixaBarnkalaset.Infrastructure.Identity
@using Pixel.FixaBarnkalaset.Web.Models
@model Pixel.FixaBarnkalaset.Web.Models.HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager

<div class="ui container text pxl-block pxl-block--content-centered">
    <h1 class="pxl-first-page-hero-header">Hitta det perfekta barnkalaset</h1>
    <p class="pxl-first-page-hero-pitch">Vi har samlat en massa bra ställen som hjälper dig att fixa det perfekta barnkalaset för just ditt barn och hans/hennes kompisar.</p>
    <select id="citySelector" class="dropdown pxl-first-page-hero-city-chooser">
        <option value="">Välj stad...</option>
        @foreach (var city in Model.Cities)
        {
            <option value="@Url.Action("Index", "Arrangements", new { citySlug = city.Slug })">@city.Name</option>
        }
    </select>
</div>

@section Scripts
{
    <script>
        $('select.dropdown').dropdown();
        $('select#citySelector').change(function () {
            if ($(this).val() !== "") {
                window.location = $(this).val();
            }
        });
    </script>
}
