@model IEnumerable<Pixel.Kidsparties.Core.Arrangement>

@{
    ViewData["Title"] = "Home Page";
}

<div class="mdl-color--accent">
    <div class="column mdl-color-text--white mdl-typography--text-center">
        <h1 class="mdl-typography--display-4 pixel-typography--line-height-dobuble">Vi hjälper dig hitta det perfekta barnkalaset!</h1>
    </div>
</div>    

<div class="mdl-grid">
    @*@foreach (var arrangement in Model)
    {
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">@Html.DisplayFor(modelItem => arrangement.Name)</div>

    }*@
    
    @*https://codepen.io/arnaudin/pen/RPvjwz*@
</div>
