@using System.Globalization
@model Pixel.FixaBarnkalaset.Web.Areas.Admin.ViewModels.CreateOrEditArrangementViewModel

@section Header
{
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <style>
        #map {
            height: 350px;
        }
    </style>
}

<div class="ui main container text pxl-admin-page pxl-admin-page--arrangements-edit" data-latitude="@Model.Latitude.ToString(CultureInfo.InvariantCulture)" data-longitude="@Model.Longitude.ToString(CultureInfo.InvariantCulture)">

    <h1>Ändra arrangemang</h1>

    <form class="ui form" asp-action="Edit">

        @Html.Partial("_CreateOrEdit", Model)

        <button class="ui secondary button" type="submit">Spara</button>
    </form>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLKgpfR9yUKR-Fwwb7yBGDoFVgRzFIxZ4&libraries=places"></script>
}
