@import "../../modules/_variables";

.pxl-public-page--arrangements-index {
    .pxl-filter-form {
        margin-bottom: 1rem;
    }

    .pxl-arrangement-count {
        color: $primaryColor;
    }

    .card .image {
        background-size: cover;
        height: 200px;
    }

    .card .header {
        font-weight: normal !important;
    }

    .pxl-html-attribution {
        margin-top: -20px;
        font-size: 10px;
    }

    @media only screen and (min-width: $tabletBreakpoint) {
        .card .description {
            height: 48px;
            overflow: hidden;
        }
    }

    @media only screen and (min-width: $computerBreakpoint) {
        .card .description {
            height: 72px;
            overflow: hidden;
        }
    }
}