@import "../../modules/_variables";

.pxl-page-arrangements-index {
    .card .image {
        background-size: cover;
        height: 200px;
    }

    .card .header {
        font-weight: normal !important;
    }

    .pxl-html-attributions {
        margin-top: 2em;
    }

    @media only screen and (min-width: $tabletBreakpoint) {
        .card .description {
            height: 48px;
            overflow: hidden;
        }
    }

    @media only screen and (min-width: $computerBreakpoint) {
        .card .description {
            height: 72px;
            overflow: hidden;
        }
    }
}