@import "../modules/_variables";

.pxl-first-page-hero-header {
    margin-bottom: 2rem;
}

.pxl-first-page-hero-pitch {
    margin-bottom: 3rem;
    font-size: 1.2em;
}

.pxl-first-page-hero-city-chooser {
    font-size: 1.4rem;
}