@import "../modules/_variables";

.secondary.menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pxl-brand {
    font-size: 2.5rem;
    padding: 0 !important;
    font-family: 'Gochi Hand', cursive;
}

@media only screen and (max-width: $largestMobileScreen) {
    .secondary.menu .right.item {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    .pxl-brand {
        font-size: 1.6em;
    }
}
