@import "../modules/_variables";

.pxl-hero.segment {
    padding: 1em 0em;
    background: #B993D6 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pxl-hero h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.pxl-hero h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.pxl-hero .pxl-first-page-hero-city-chooser {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 10em;
}

@media only screen and (max-width: 700px) {
    .pxl-hero h1.ui.header {
        margin-top: 1em;
        font-size: 3em;
    }

    .pxl-hero h2 {
        font-size: 1.5em;
    }

    .pxl-hero .pxl-first-page-hero-city-chooser {
        margin-bottom: 3em;
    }
}