@import "../modules/_variables";

.pxl-page {
    padding-top: 2em;
    padding-bottom: 4em;
}

.pxl-block {
    padding-top: 4em;
    padding-bottom: 4em;
}

@media only screen and (max-width: $largestMobileScreen) {
    .pxl-page {
        padding-top: 1rem;
        padding-bottom: 2em;

        h1.huge.header {
            margin-top: 1rem !important;
        }
    }

    .pxl-block {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}