@import "../modules/_variables";

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 4em;
    padding-bottom: 4em;
}

.quote.stripe.segment .grid .column .pxl-text-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
