<div class="ui main container pxl-public-page">
    <div class="ui stackable grid container">
        <div class="six wide column">
            <div class="ui mini purple message">Kommer snart!</div>
            <h1 class="ui huge header">Skicka inbjudningskort</h1>
            <p>Inom kort kommer vi att kunna hjälpa dig att designa, trycka och skicka professionella inbjudningskort till dina gäster direkt här från sajten.</p>
            <p>Du behöver inte inte längre tänka på att köpa kort och frimärken, skriva alla namn för hand och sedan ta dig till närmaste brevlåda.</p>
            <p>@Html.ActionLink("Tillbaka till förstasidan", "Index", "Home")</p>
        </div>
        <div class="six wide center aligned middle aligned column">
            <i class="massive thin circular mail outline icon"></i>
        </div>
    </div>
</div>
