@*@model Pixel.FixaBarnkalaset.Web.Models.InvitationCardsModels.ReviewViewModel

<div class="ui main container pxl-public-page">
    <div class="ui main container text">

        <h1>Skicka inbjudningskort, steg 2 av X</h1>
        
        <h2>Granska uppgifterna</h2>
        
        <form class="ui form" asp-action="Where" asp-route-partyId="@Model.Id">
            @Html.HiddenFor(m => m.Id)

            <button class="ui secondary button right floated" type="submit">Fortsätt</button>
        </form>
    </div>
</div>*@
