<div class="ui main container pxl-public-page">
    <div class="ui stackable grid container">
        <div class="six wide middle aligned column">
            <h1 class="ui huge header">Hoppsan, nu gick något fel.</h1>
            <p>Vi ber om ursäkt för detta och vi har loggat felet så att våra tekniker kan titta på det.</p>
            <p>Klicka @Html.ActionLink("här", "Index", "Home") för att komma tillbaka till startsidan.</p>
        </div>
        <div class="six wide center aligned middle aligned column">
            <i class="massive warning icon"></i>
        </div>
    </div>
</div>
